.App {
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .content{
    flex:1;
    text-align: center;
  }
  header{
    background-color: rgb(252, 215, 215);
    height: 60px;
    .selected{
      color: rgb(85, 34, 90)!important;
      padding-bottom: 5px;
      border-bottom: 1.5px solid rgb(8, 228, 107);
    }
    .box{
      width: 70%;
      height: 100%;
      margin: 0px auto;
      padding: 0px 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a:hover { 
        text-decoration:none; 
      }
      .boxleft{
        font-size: 20px;
        color: rgb(46, 41, 41);
      }
/*       .boxleft::before {
        content: "🌙💉";
        margin-left: 0.5em;
      } */
      .boxleft::after {
        content: "🐰";
        margin-left: 0.5em;
      }
      .boxright{
        display: inline-flex;
        justify-content: flex-start;
        p{
          margin: 0px 10px;
          font-size: 14px;
          color: rgb(119, 110, 110);
        }
      }
      div{
        cursor: pointer;
      }
    }
  }
  .footer{
    text-align: center;
    padding: 50px 3px;
    color: #868097be;
    background: #fafafa;
    border-top: 1px solid #2cc96dab;
    p{
      padding: 2px 0px;
    }
  }
}
