
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  --c: goldenrod;
  color: var(--c);
  font-size: 16px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul li:hover {
  color: black;
}

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}

.wrap{
    flex: 1;
    width: 70%;
    margin: 0px auto;

    .brief{
       text-align: center;
       h2{
         padding: 12px 0px;
         font-size: 20px;
       }
       img{
          width: 200px;
          height:200px;
          border-radius: 120px;
          margin-top: 20px;
       }
       .ff{
        font-family:Georgia;
        font-size: 2em;
       }
       .icon{
        width: 30px;
        height: 30px;
        border-radius: 0px;
        margin-top: 0px;
       }
       ul{
        display: flex;
        justify-content: center;
         li{
            padding: 6px 10px;
            background: rgba(87, 199, 255, 0.1);
            margin: 12px 5px;
            border-radius: 3px;
         }      
       }
       p{
        padding: 5px 0px;
        color: rgba(0, 0, 0, 0.7);
      }
    }

    .work{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 25px;
        .title{
          h3{
            font-size: 30px;
            padding-bottom: 20px;
            color: rgba(0,0,0,.8);
            font-weight: 400;
            font-family:  Tahoma ;
            
          }
 
        
         .inner {
            width: 15%;
            height: 3px;
            margin: 0px auto;
            border-bottom: 1px solid #9fa7ee;
          }
        
          p{
            color: rgba(0, 0, 0, 0.7);
          }
        }
    }
}